body{
    background-color: blue
    cornflowerblue white;  
}
h2  {
    color: #fe7743;
}
    .titulo_seção{
        color: #eb3678;
    }
#nome_cursista{
    font-synthesis-weight: bold;
    font-size: 30px;
    color: yellow;
}